body{
    background-color: cyan;
    font-family: Arial, Helvetica, sans-serif;
    color: darkred;
}
a:hover{
    color: purple;
    background-color: orange;

}
a:active{
    color: orange;
    background-color: purple;
}